body {
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  font-size: 22px;
  font-weight: 800;
}


 .small-para,
 .text.child {
  color: hsl(0, 0%, 0%);
  font-weight: 1000;
  font-size:16px;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 

.cancel, 
.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 50;
}

